@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
}


.mainHead{
  width: 100%;
  height: 70px;
  background-color: rgba(23, 69, 59,0.8);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logoDiv{
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
}
.logo{
  width: 50px;
  height: 50px;
}
.logoH{
  color: white;
}
.inputDiv{
  width: 40%;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  display: flex;
}
.inputHead{
  width: 90%;
  border: none;
  border-radius: 20px 0px 0px 20px;
  padding-left:10px;
  font-size: 20px;
}
.btnHead{
  width: 10%;
  height: 100%;
  background-color: white;
  border: none;
  border-left: 2px solid #e5e5e5;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btnLogo{
  width: 50%;
  height: 60%;
  opacity: 50%;
}
.btnHead:active{
  border: 2px solid black;
}
.headEnd{
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.headEndA{
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}
.headEndFav{
  width: 25px;
  height: 25px;
}





/* нав закончен */

.main {
  width: 100%;
  display: flex;
  align-items: center;
  height: 720px;
  margin: auto;
  color: black;
  background-color: #e5e5e5;
}
.bg {
  background-image: url(https://kartinkin.net/pics/uploads/posts/2022-08/thumbs/1660101841_26-kartinkin-net-p-fon-s-knigami-dlya-teksta-krasivo-28.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}
section {
  width: 50%;
  height: 80%;
  display:flex;
  justify-content: space-around;
  margin: auto;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.title h1 {
  font-size: 60px;
  font-weight: 600;
  color: white;
}

.title p {
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
}
.title button {
  width: 180px;
  height: 60px;
  margin-top: 40px;
  background-color: rgba(23, 69, 59, 0.8);
  border-radius: 10px;
  border: none;
  font-size: 30px;
}
.title button:active{
  border: 2px solid white;
}

.title button p{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  cursor: pointer;
}



.Anibook {
  position: relative;
  height: 400px;
  cursor: pointer;
  transform-style: preserve-3d;
  backface-visibility: visible;
}

.Anifront, .Aniback, .page1, .page2, .page3, .page4, .page5, .page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0; left: 0;
  transform-origin: left center;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}

.Anifront, .Aniback {
  background: url(https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9780/7020/9780702044991.jpg);
  background-size: 100%;
}

.Anifront, .page1, .page3, .page5 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.back, .page2, .page4, .page6 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.page1 { 
  background: #efefef;
}

.page2 {
  background: #efefef;
}

.page3 {
  background: #f5f5f5;
}

.page4 {
  background: #f5f5f5;
}

.page5 {
  background: #fafafa;
  padding: 10px;
}
.page6 {
  background: #fdfdfd;
  padding: 10px;
}
.page5 p{
  font-size: 10px;
}
.page6 p{
  font-size: 10px;
}

.Anibook:hover .Anifront {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.Anibook:hover .page1 {
  transform: rotateY(-150deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.Anibook:hover .page2 {
  transform: rotateY(-30deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.Anibook:hover .page3 {
  transform: rotateY(-140deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.Anibook:hover .page4 {
  transform: rotateY(-40deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.Anibook:hover .page5 {
  transform: rotateY(-130deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.Anibook:hover .page6 {
  transform: rotateY(-50deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.Anibook:hover .Aniback {
  transform: rotateY(-20deg) scale(1.1);
}
.bookAni{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}





/* Rustam code */

.books {
  width:100%;
  padding: 0px 100px;
  height: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:  auto;
  margin-top: 40px;
}
.bookImg {
  width: 100%;
  height: 100%;
}
.book {
  width: 200px;
  height: 270px;
  padding: 20px;
  transform: rotate(-10deg);
  transition: 0.5s;
  cursor: pointer;
  position: relative;
  display: flex;
  background-color: rgba(23, 69, 59, 1);
}
.book:hover {
  box-shadow: 0px 5px 30px 2px black;
  z-index: 1;
  transform: rotate(0);
}






.cardMain {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background: white;
  background-size: 100% 100%;
  background-color: #fdf5e6;
  background-repeat: no-repeat;
}
.titleRus {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 3px solid white;
  background-color: rgba(23, 69, 59, 1);
}
.titleH {
  font-size: 45px;
  color: white;
}










/* emirlan */
.EmirCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.miniCont {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cardE {
  background-image: url(https://wp-s.ru/wallpapers/2/7/479129640551064/kanada-noch-i-prekrasnyj-gorod.jpg);
  height: 350px;
  width: 250px;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.cardE span {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(112, 88, 88);
  width: 100%;
  padding: 10px 0 10px 0;
  height: 50px;
  transition: 0.5s;
}

.cardE span h4 {
  color: white;
  text-align: center;
}
.cardE span p {
  display: none;
}

.cardE span:hover {
  background-color: rgba(6, 255, 255, 0.411);
  height: 250px;
  transition: 1s;
  z-index: 1;
}

.cardE span:hover p {
  display: block;
  color: white;
  font-size: 16px;
  text-align: center;
}
.description { 
  padding: 20px 0 20px 0; 
} 
.description_cont { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  width: 100%; 
} 
 
.description_cont h4 { 
  font-size: 1.8rem; 
  font-weight: 500; 
  margin: 15px 0; 
  line-height: 1.2; 
} 
 
.description_cont p { 
  font: 1.1rem "Poppins"; 
  width: 650px; 
  text-align: center; 
  line-height: 2; 
} 
 
.container_des { 
  width: 98%; 
  display: flex; 
  justify-content: space-around; 
  gap: 150px; 
  margin: 50px auto; 
} 
 
.container_des div h3 { 
  font-size: 1.3rem; 
  font-weight: 500; 
  text-align: center; 
}




footer{
  width: 100%;
  height: 150px;
  background-color:rgba(23, 69, 59, 1) ;
  display: flex;
}
.footerDiv{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerDiv1{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footerDiv p{
  color: white;
}
.footerDiv h1{  
  color: white;
}

.footerLogo{
  width: 70px;
  height: 70px;
}
.footerDiv1 p{
  font-weight: 500;
  color: white;
  font-size: 40px;
  align-items: center;
}




.imgLoader {
  position: fixed;
  -webkit-animation: preLoad 1s steps(1);
          animation: preLoad 1s steps(1);
  width: 1px;
  height: 1px;
}
@-webkit-keyframes preLoad {
  0% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
  }
  10% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
  }
  20% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
  }
  30% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
  }
  40% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
  }
  100% {
    display: none;
  }
}
@keyframes preLoad {
  0% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
  }
  10% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
  }
  20% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
  }
  30% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
  }
  40% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
  }
  100% {
    display: none;
  }
}

.container {
  position: relative;
  width: 420px;
  margin: auto ;
  margin-bottom: 50px;
  border-radius: 4px;
  height: 420px;
}

/* .titleB {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  font-size: 2em;
  font-weight: normal;
  line-height: 1;
} */

/* .credit {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 0.9em;
  text-align: left;
} */

.bookB {
  position: relative;
  perspective: 630px;
  perspective-origin: center 50px;
  transform: scale(1.2);
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.25));
}

.page {
  width: 210px;
  height: 300px;
  background-color: #bbb;
  position: absolute;
  top: 0px;
  right: 50%;
  transform-origin: 100% 100%;
  border: solid #555 2px;
  background-size: 420px 300px;
  background-position: center;
  transform-style: preserve-3d;
}
.page:nth-child(1) {
  transform: rotateX(60deg) rotateY(3deg);
}
.page:nth-child(2) {
  transform: rotateX(60deg) rotateY(4.5deg);
}
.page:nth-child(3) {
  transform: rotateX(60deg) rotateY(6deg);
  -webkit-animation: nextPage 25s infinite -24s steps(1);
          animation: nextPage 25s infinite -24s steps(1);
  background-size: 420px 300px;
  background-position: -2px -2px;
}
.page:nth-child(4) {
  transform: rotateX(60deg) rotateY(177deg);
}
.page:nth-child(5) {
  transform: rotateX(60deg) rotateY(175.5deg);
}
.page:nth-child(6) {
  transform: rotateX(60deg) rotateY(174deg);
  overflow: hidden;
}
.page:nth-child(6)::after {
  content: "";
  width: 210px;
  height: 300px;
  position: absolute;
  top: 0px;
  right: 0%;
  transform-origin: center;
  transform: rotateY(180deg);
  -webkit-animation: nextPage 25s -20s infinite steps(1);
          animation: nextPage 25s -20s infinite steps(1);
  background-size: 420px 300px;
  background-position: 100% -2px;
}
@-webkit-keyframes nextPage {
  0% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
  }
  20% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
  }
  40% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
  }
  60% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
  }
  80% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
  }
}
@keyframes nextPage {
  0% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
  }
  20% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
  }
  40% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
  }
  60% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
  }
  80% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
  }
}

.gap {
  width: 10px;
  height: 300px;
  background: none;
  transform: rotateX(60deg);
  transform-origin: bottom;
  position: absolute;
  top: 0px;
  left: calc(50% - 5px);
}
.gap::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #555;
  width: 10px;
  height: 5px;
  border-radius: 50%;
}

.pages,
.flips {
  transform-style: preserve-3d;
}

.flip {
  width: 32px;
  height: 300px;
  position: absolute;
  top: 0px;
  transform-origin: 100% 100%;
  right: 100%;
  border: solid #555;
  border-width: 2px 0px;
  perspective: 4200px;
  perspective-origin: center;
  transform-style: preserve-3d;
  background-size: 420px 300px;
}
.flip::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0%;
  width: 100%;
  height: 100%;
  transform-origin: center;
  background-size: 420px 300px;
}
.flip.flip1 {
  right: 50%;
  -webkit-animation: flip1 5s infinite ease-in-out;
          animation: flip1 5s infinite ease-in-out;
  border-width: 2px 2px 2px 0;
}
.flip.flip1::after {
  -webkit-animation: nextFlip1 25s -20s infinite steps(1);
          animation: nextFlip1 25s -20s infinite steps(1);
}
.flip:not(.flip1) {
  right: calc(100% - 2px);
  top: -2px;
  transform-origin: right;
  -webkit-animation: flip2 5s ease-in-out infinite;
          animation: flip2 5s ease-in-out infinite;
}
.flip.flip2::after {
  -webkit-animation: nextFlip2 25s -20s infinite steps(1);
          animation: nextFlip2 25s -20s infinite steps(1);
}
.flip.flip3::after {
  -webkit-animation: nextFlip3 25s -20s infinite steps(1);
          animation: nextFlip3 25s -20s infinite steps(1);
}
.flip.flip4::after {
  -webkit-animation: nextFlip4 25s -20s infinite steps(1);
          animation: nextFlip4 25s -20s infinite steps(1);
}
.flip.flip5::after {
  -webkit-animation: nextFlip5 25s -20s infinite steps(1);
          animation: nextFlip5 25s -20s infinite steps(1);
}
.flip.flip6::after {
  -webkit-animation: nextFlip6 25s -20s infinite steps(1);
          animation: nextFlip6 25s -20s infinite steps(1);
}
.flip.flip7::after {
  -webkit-animation: nextFlip7 25s -20s infinite steps(1);
          animation: nextFlip7 25s -20s infinite steps(1);
}
.flip.flip7 {
  width: 30px;
  border-width: 2px 0px 2px 2px;
}
.flip.flip7::after {
  -webkit-animation: nextFlip7 25s -20s infinite steps(1);
          animation: nextFlip7 25s -20s infinite steps(1);
}
@-webkit-keyframes flip1 {
  0%, 20% {
    transform: rotateX(60deg) rotateY(6deg);
  }
  80%, 100% {
    transform: rotateX(60deg) rotateY(174deg);
  }
}
@keyframes flip1 {
  0%, 20% {
    transform: rotateX(60deg) rotateY(6deg);
  }
  80%, 100% {
    transform: rotateX(60deg) rotateY(174deg);
  }
}
@-webkit-keyframes flip2 {
  0%, 20% {
    transform: rotateY(0deg) translateY(0px);
  }
  50% {
    transform: rotateY(-15deg) translateY(0px);
  }
}
@keyframes flip2 {
  0%, 20% {
    transform: rotateY(0deg) translateY(0px);
  }
  50% {
    transform: rotateY(-15deg) translateY(0px);
  }
}

@-webkit-keyframes nextFlip1 {
  0% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  10% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  30% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  50% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  70% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  90% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
}

@keyframes nextFlip1 {
  0% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  10% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  30% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  50% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  70% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  90% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes nextFlip2 {
  0% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  10.5% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  30.5% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  50.5% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  70.5% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  90.5% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
}
@keyframes nextFlip2 {
  0% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  10.5% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  30.5% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  50.5% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  70.5% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  90.5% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes nextFlip3 {
  0% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  11% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  31% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  51% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  71% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  91% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
}
@keyframes nextFlip3 {
  0% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  11% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  31% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  51% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  71% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  91% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes nextFlip4 {
  0% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  11.5% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  31.5% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  51.5% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  71.5% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  91.5% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
}
@keyframes nextFlip4 {
  0% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  11.5% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  31.5% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  51.5% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  71.5% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  91.5% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes nextFlip5 {
  0% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  12% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  32% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  52% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  72% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  92% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
}
@keyframes nextFlip5 {
  0% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  12% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  32% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  52% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  72% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  92% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes nextFlip6 {
  0% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  12.5% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  32.5% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  52.5% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  72.5% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  92.5% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
}
@keyframes nextFlip6 {
  0% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  12.5% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  32.5% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  52.5% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  72.5% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  92.5% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes nextFlip7 {
  0% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  13% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  33% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  53% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  73% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  93% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
}
@keyframes nextFlip7 {
  0% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  13% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("https://astgmu.ru/wp-content/uploads/2020/06/telemost.jpg");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  33% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("https://health.usf.edu/-/media/Images/Medicine/Graduate-Affairs/anatomy-concentration.ashx?h=422&w=995&hash=023D1D989372A91454992F879479A878420C037C");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  53% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/3501F557-CAFA-4218-930C20D1D930C78C/F6FF788E-26D5-4BC5-8CB92EE85A59CA4A/WebsiteJpg_XL-FMED_Main%20Visual_Purple_Website.jpg");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  73% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("https://cdn.sanity.io/images/0vv8moc6/hcplive/c6a1bdd525a3983c7e0503b6cd7da08fb02b7980-483x288.jpg");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  93% {
    background-image: url("https://epsilon.aeon.co/images/afef287f-dd6f-4a6a-b8a6-4f0a09330657/idea_sized-kendal-l4ikccachoc-unsplash.jpg");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
}